.archive
.vscode
wandb
.ipynb_checkpoints
.conda/**

*__pycache__*
*.egg-info
tmp*
*.pickle
*.log
*.csv
*.tar.gz
*.pth
*.pt

.env
/data
slurm
results
logs

LOC_synset_mapping.json
start_kernel.sh
train_*.sh
reconstructions_6.pdf
